@media print {
	/* Print styles go here */
	.site-header {
		display: none;
	}
	.site-footer {
		display: none;
	}

	.post-title {
		font-size: 2em;
	}

	body {
	    font-size: 8pt;
	}

	table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		display: none;
	}

	table tr {
		margin-bottom: 10px;
	}

	td {
		page-break-inside: avoid;
	}

	table.swopp2016table td:nth-of-type(1) { background-color: #ccc; }
	table.swopp2016table td:nth-of-type(2):before { font-weight: bold; content: "[中ホール] "; }
	table.swopp2016table td:nth-of-type(3):before { font-weight: bold; content: "[第1会議室] "; }
	table.swopp2016table td:nth-of-type(4):before { font-weight: bold; content: "[第2会議室] "; }
	table.swopp2016table td:nth-of-type(5):before { font-weight: bold; content: "[国際会議室] "; }
	table.swopp2017table td:nth-of-type(1) { background-color: #ccc; }
	table.swopp2017table td:nth-of-type(2):before { font-weight: bold; content: "[3F研修室BCD] "; }
	table.swopp2017table td:nth-of-type(3):before { font-weight: bold; content: "[多目的ホールA] "; }
	table.swopp2017table td:nth-of-type(4):before { font-weight: bold; content: "[多目的ホールBC] "; }
	table.swopp2017table td:nth-of-type(5):before { font-weight: bold; content: "[3F研修室A] "; }
	table.swopp2018table td:nth-of-type(1) { background-color: #ccc; }
	table.swopp2018table td:nth-of-type(2):before { font-weight: bold; content: "[6Fホール] "; }
	table.swopp2018table td:nth-of-type(3):before { font-weight: bold; content: "[5F大広間] "; }
	table.swopp2018table td:nth-of-type(4):before { font-weight: bold; content: "[4F第3会議室] "; }
	table.swopp2018table td:nth-of-type(5):before { font-weight: bold; content: "[4F第1会議室] "; }
	table.swopp2019table td:nth-of-type(1) { background-color: #ccc; }
	table.swopp2019table td:nth-of-type(2):before { font-weight: bold; content: "[1F 小ホール] "; }
	table.swopp2019table td:nth-of-type(3):before { font-weight: bold; content: "[1F 1号室] "; }
	table.swopp2019table td:nth-of-type(4):before { font-weight: bold; content: "[1F 4号室] "; }
	table.swopp2019table td:nth-of-type(5):before { font-weight: bold; content: "[1F 5号室] "; }
	table.swopp2019table td:nth-of-type(6):before { font-weight: bold; content: "[2F 7号室] "; }
	table.swopp2020-0table td:nth-of-type(1) { background-color: #ccc; width: 150px;}
	table.swopp2020-0table td:nth-of-type(2):before { font-weight: bold; width: 200px; content: "[xSIG] "; }
	table.swopp2020table td:nth-of-type(1) { background-color: #ccc; }
	table.swopp2020table td:nth-of-type(2):before { font-weight: bold; content: "[HPC] "; }
	table.swopp2020table td:nth-of-type(3):before { font-weight: bold; content: "[ARC+CPSY+DC] "; }
	table.swopp2020table td:nth-of-type(4):before { font-weight: bold; content: "[OS] "; }
	table.swopp2020table td:nth-of-type(5):before { font-weight: bold; content: "[PRO] "; }
	table.swopp2020table td:nth-of-type(6):before { font-weight: bold; content: "[MEPA] "; }
	table.swopp2022table td:nth-of-type(1) { background-color: #ccc; }
	table.swopp2022table td:nth-of-type(2):before { font-weight: bold; content: "[国際会議場(10F)] "; }
	table.swopp2022table td:nth-of-type(3):before { font-weight: bold; content: "[801大会議室(8F)] "; }
	table.swopp2022table td:nth-of-type(4):before { font-weight: bold; content: "[803会議室(8F)] "; }
	table.swopp2022table td:nth-of-type(5):before { font-weight: bold; content: "[804会議室(8F)] "; }
	table.swopp2022table td:nth-of-type(6):before { font-weight: bold; content: "[805会議室(8F)] "; }
        table.swopp2023table td:nth-of-type(1) { background-color: #ccc; }
        table.swopp2023table td:nth-of-type(2):before { font-weight: bold; content: "[武道館BC] "; }
        table.swopp2023table td:nth-of-type(3):before { font-weight: bold; content: "[武道館A] "; }
        table.swopp2023table td:nth-of-type(4):before { font-weight: bold; content: "[スタジオB] "; }
        table.swopp2023table td:nth-of-type(5):before { font-weight: bold; content: "[多目的会議室B] "; }
        table.swopp2023table td:nth-of-type(6):before { font-weight: bold; content: "[サブアリーナ(2F)] "; }
}
